body, html {
    background: #000;
    font-family: sans-serif;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#content {
    background: rgba(0, 0, 0, 0.5);
    bottom: 1.5em;
    left: 1.5em;
    padding: 1.5em;
    position: fixed;
}

#content h1 {
    font-size: 1em;
    font-weight: bold;
}

#content, #content a {
    color: #ddd;
}
